<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptu.gera.mapper.OrderMapper">  <!-- 要映射的mapper的完整包+mapper名称-->
    <select id="getfood" resultType="food">
        select * from food where food_time=#{time}
    </select>
    <insert id="infofood" >
        insert into reservefood (fuser_id,ffood_id) values(#{0},#{1})
    </insert>
</mapper>